@page
@model WebApplication1.Pages.Account.RegisterModel
@{
}

<h2>Register</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="Register.Email"></label>
        <input asp-for="Register.Email" class="form-control" />
        <span asp-validation-for="Register.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Register.Password"></label>
        <input asp-for="Register.Password" class="form-control" />
        <span asp-validation-for="Register.Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Register.ConfirmPassword"></label>
        <input asp-for="Register.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Register.ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
</form>
